<div class="games-container">  
  <div class="container flexbox">
    <div class="bubble">
      <p>Snail Maze</p>
      <a href="/#/snail"><img src="../assets/snail.jpg"></a>
      <p>A clone of the Sega Master System classic Snail Maze. Html5/Typescript using the Phaser framework.</p>
    </div>
    <div class="bubble">
      <p>Camel By Committee</p>
      <a href="https://d2vqyjdo0a963h.cloudfront.net/">
        <img src="../assets/camel.jpg">
      </a>
      <p>A multiplayer collaborative drawing game. <br/>
        Using a shared canvas, players must use the clues given to
        them to build out a complete image.</p>
    </div>
  </div>
</div>