<div class="games-container">
    <div class="container flexbox wrap">
        <div class="bubble">
            <p>Snail Maze</p>
            <a href="/#/snail"><img src="../assets/snail.jpg"></a>
            <p>A clone of the Sega Master System classic Snail Maze. Html5/Typescript using the Phaser framework.</p>
        </div>
        <div class="bubble">
            <p>Camel By Committee</p>
            <a href="https://d2vqyjdo0a963h.cloudfront.net/">
                <img src="../assets/camel.png">
            </a>
            <p>A multiplayer collaborative drawing game. <br /> Using a shared canvas, players must use the clues given to them to build out a complete image piece by piece.</p>
        </div>
        <div class="bubble">
            <p>WebRTC Chat Demo</p>
            <a href="https://dd3jqzhi6i2jj.cloudfront.net/">
                <img src="../assets/chat-demo.JPG">
            </a>
            <p>A demo application I made to test out my signal server. <br /> Showcases room creation, user-management, and simple chat features.<br /> See source code: <a href="https://github.com/TalkingFox/WebRTCDemo">here.</a>
            </p>
        </div>
        <div class="bubble">
            <p>Pong</p>
            <a href="https://d3oqp29cltbom5.cloudfront.net/">
                <img src="../assets/pong.png">
            </a>
            <p>A sample pong game using Phaser. <br /> Intended to test out multiplayer controls using a phone as a controller and WebRTC for network management.<br /> See source code: <a href="https://github.com/TalkingFox/pong">here.</a>
            </p>
        </div>
    </div>
</div>