.snail-container iframe{
    width:768px;
    height: 576px;
    border-radius: 7px;
    margin: 10px;
    background:black;
}

.bubble {
    margin: 5px 0px 5px 0px;
    
}

.container {
    width: 50%;
}

.flexbox {
    flex-direction: column;
}

.notes {
    text-align: left;    
    color: #CC9913;
    padding-left: 10px;
    padding-right: 10px;
}

.notes h3 {
    text-align: center;
    color: white;
}

.notes a {
    color: white;
}